.photo-grid__list {
    list-style: none;
    padding-left: 0px;
    margin: 0;   
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid__list {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
  