.lead {
  max-width: 984px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 56px;
  padding-bottom: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-bottom: 88px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-bottom: 64px;
  }
}
