.lead {
  max-width: 984px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 92px;
  margin-right: 148px;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
