.header__lang-link-ru {
  margin: 0;
  color: #fff;
  width: 30px;
  line-height: 28px;
  height: 28px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-right: 18px;
}

