.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFF;
  max-width: 560px;
  margin: 0;
}

@media screen and (max-width: 505px) {
  .cover__title {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    box-sizing: border-box;
  }
}
