.places__url-heading {
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 2px;
  color: #AAA;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
 .places__url-heading {
  line-height: 12px;
 }
}

@media screen and (max-width: 320px) {
  .places__url-heading {
    margin: 0px 16px 0px 16px;
  }
 }
